<html data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Activity tracker</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
</head>

<body>

    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" ui-sref='home'>Activity Tracker</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" ng-controller="userProfileController as vm">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active"><a ui-sref='view'>View Activities<span class="sr-only">(current)</span></a></li>
                        <li ui-sref-active="active"><a ui-sref='add'>Add Activity</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="loginName"><strong>Logged in as:</strong> {{vm.user.firstname}} {{vm.user.lastname}}</li>
                    </ul>
                </div>
            </div>
        </nav>

       @RenderBody()

    </div> <!-- /container -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>